<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <script scr="script"></script>
</head>
<table>
    <td colspan="2">
        <h1>Register Form</h1>
    </td>
    <tr>
        <td>Firstname:</td>
        <td>
            <input type="text" name="firstname" id="firstname" [(ngModel)]="firstname" pattern="^[a-zA-Z]\w*">
            <span style="color: red;">{{korisnickoImeGreska}}</span>
        </td>
    </tr>
    <tr>
        <td>Lastname:</td>
        <td>
            <input type="text" name="lastname" id="lastname" [(ngModel)]="lastname">
            <span style="color: red;">{{korisnickoPrezimeGreska}}</span>
        </td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" id="username" [(ngModel)]="username">
            <span style="color: red;">{{usernameGreska}}</span>
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="password" id="password" [(ngModel)]="password">
            <span style="color: red;">{{lozinkaGreska}}</span>
        </td>
    </tr>
    <tr>
        <td>Confirm Password:</td>
        <td>
            <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword">
            <span style="color: red;">{{potvrdiLozinkuGreska}}</span>
        </td>
    </tr>
    <tr>
        <td>PhoneNumber:</td>
        <td>
            <input type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="phoneNumber">
            <span style="color: red;">{{telefonGreska}}</span>
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
            <input type="text" name="email" id="email" [(ngModel)]="email">
            <span style="color: red;">{{mejlGreska}}</span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button *ngIf="!buttonDisabledR" (click)="buttonDisabledR = true">Registruj se kao organizator</button>
            <button *ngIf="buttonDisabledR" (click)="buttonDisabledR = false">Registruj se kao ucesnik</button>
        </td>
    </tr>
    <tr>
        <td>OgranizationName:</td>
        <td>
            <input type="text" [disabled]="!buttonDisabledR" name="ogranizationName" [(ngModel)]="ogranizationName">
        </td>
    </tr>
    <tr>
        <td>OgranizationAddres:</td>
        <td>
            <input type="text" [disabled]="!buttonDisabledR" name="ogranizationAddress" [(ngModel)]="ogranizationAddress">
        </td>
    </tr>
    <tr>
        <td>OrganizationMN:</td>
        <td>
            <input type="number" [disabled]="!buttonDisabledR" name="organizationMN" [(ngModel)]="organizationMN">
        </td>
    </tr>
    <tr>
        <td> Profile picture:</td>
        <td>
            <input type="file" (change)="fileChangeEvent($event)" accept="image/png, image/jpg, image/jpeg">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="register()">Register</button>
        </td>
    </tr>
</table>
<br>
<br>
<br>
<a routerLink="">Go to Login</a>

<!--(click)="register()"  onclick="registrujSe()"-->